@import './root.scss';
@import './reset.scss';
@import './animation.scss';
$--black: #262626;
$--gray: #F7F6F7;
$--margin: calc(1vw + 1vh);
@mixin adaptive-value($property, $minValue, $maxValue, $container: 1200px) {
    #{$property}: calc(#{$minValue}px + ($maxValue - $minValue) * ((100vw - 320px) / ($container - 320)));
  }
  
  @mixin adaptive-properties($property, $minValue, $maxValue, $container: 1200px) {
    @include adaptive-value(font-size, $minValue, $maxValue, $container);
    @include adaptive-value(padding, $minValue, $maxValue, $container);
   
  }
  .container{
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 20px;
   border: 1px solid #c9af29;
   background-color: #070101;
   margin: 0 auto;
   margin-bottom: 40px;
   color: #F7F6F7;
    @include adaptive-value('margin-bottom', 30, 40, $container:1400);
    @include adaptive-value('margin-top', 30, 40, $container:1400);
    @media  screen and (max-width:1023px) {
        @include adaptive-value('padding-top', 10, 20, $container:1200);
        @include adaptive-value('padding-bottom', 10, 20, $container:1200);
       }
      &:hover{
        background-color: transparent;
       }
      .light &:hover{
        color: #333;
       }
      .dark &:hover{
        color: #fefefe;
       }
  }

body {
    background-color:#000000;
    transition: .5s ease;
}

.bg__container{
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.images-wrap{
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
    & img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      transition: opacity .5s ease;
      
    }
}


.cloud__section {
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  
  & h1{
    @include adaptive-value('font-size', 19, 48, $container:1200);
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #fd8100;
    text-shadow: hsl(0, 75%, 2%) 1px 0 10px;
  }

  &-bg{
    width: 300%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation-duration: 100.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    & img {
      position: absolute;
      top: 0;
      width: 80%;
      height: 100%;
      object-fit: cover;
    }
    & img:nth-of-type(1){
      width:50%;
      left: 0;
    }
    & img:nth-of-type(2){
      width:33.3%;
      left: 33.3%;
    }
    & img:nth-of-type(3){
      width: 33.3%;
      left: 66.6%;
    }
  }
}

.random{
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
  background: url(../images/city.jpg) center center / cover no-repeat;
  &__text{
    max-width: 87%;
    text-align: center;
    @include adaptive-value('font-size', 32, 68, $container:1600);
    color: #21894c;
    text-shadow: 4px 4px 2px rgba(31,86,121,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc($--margin * 8) auto;
    height: 100%;
  }
#circle__wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  top: inherit;
  min-width: 100%;
  
  z-index: 1;
  .circle-container{
    width: 100%;
    height: 100%;
    position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
  .circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    animation: animateCircle 200ms linear infinite, animateCircleScale 2s linear infinite;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    )

  }
}
}
  }